.dt-buttons{
    display: none;
}

#sample_2_paginate {
    float: right!important;
    text-align: right!important;
}
.dataTables_extended_wrapper .table.dataTable {
    margin: 0!important;
}
.dataTables_extended_wrapper {
    margin-top: 0!important;
}
#sample_2_filter label input{
    width: 123px!important;
    height: 35px!important;
}

div#sample_2_wrapper.dataTables_wrapper.no-footer div.row div.col-md-12 {
    min-height: 0;
}